In [1]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [2]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2024-11-13 19:41:04--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 104.26.2.33, 104.26.3.33, 172.67.70.149, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|104.26.2.33|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26085508 (25M) [application/zip]
Saving to: ‘book-crossings.zip’

book-crossings.zip  100%[===================>]  24.88M  61.0MB/s    in 0.4s

2024-11-13 19:41:05 (61.0 MB/s) - ‘book-crossings.zip’ saved [26085508/26085508]

Archive:  book-crossings.zip
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [4]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [ ]:
# add your code here - consider creating a new cell for each section of code

## Handling missing data

In [5]:
df_books.head()

,isbn,title,author
0,0195153448,Classical Mythology,Mark P. O. Morford
1,0002005018,Clara Callan,Richard Bruce Wright
2,0060973129,Decision in Normandy,Carlo D'Este
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
4,0393045218,The Mummies of Urumchi,E. J. W. Barber

In [6]:
df_books.isnull().sum()

isbn      0
title     0
author    2
dtype: int64

In [7]:
df_books.dropna(inplace=True)

In [15]:
df_ratings.head(50)

      user        isbn  rating
0   276725  034545104X     0.0
1   276726  0155061224     5.0
2   276727  0446520802     0.0
3   276729  052165615X     3.0
4   276729  0521795028     6.0
5   276733  2080674722     0.0
6   276736  3257224281     8.0
7   276737  0600570967     6.0
8   276744  038550120X     7.0
9   276745   342310538    10.0
10  276746  0425115801     0.0
11  276746  0449006522     0.0
12  276746  0553561618     0.0
13  276746  055356451X     0.0
14  276746  0786013990     0.0
15  276746  0786014512     0.0
16  276747  0060517794     9.0
17  276747  0451192001     0.0
18  276747  0609801279     0.0
19  276747  0671537458     9.0
20  276747  0679776818     8.0
21  276747  0943066433     7.0
22  276747  1570231028     0.0
23  276747  1885408226     7.0
24  276748  0747558167     6.0
25  276748  3442437407     0.0
26  276751  033390804X     0.0
27  276751  3596218098     8.0
28  276754  0684867621     8.0
29  276755  0451166892     5.0
30  276760  8440682697    10.0
31  276762  034544003X     0.0
32  276762  0380000059     0.0
33  276762  0380711524     5.0
34  276762  0451167317     0.0
35  276762  0451454952     0.0
36  276762  0843920262     0.0
37  276762  3404122879     0.0
38  276762  3404182928     0.0
39  276762  3404611306     0.0
40  276762   342662429     0.0
41  276762  3426690179     0.0
42  276762  3442424216     0.0
43  276762  3442425573     0.0
44  276762  3453092007     8.0
45  276762  3453157745     0.0
46  276762  3453176944     0.0
47  276762  3453185137     0.0
48  276762  3453185323     0.0
49  276762  3453213025     3.0

In [9]:
df_ratings.isnull().sum()

user      0
isbn      0
rating    0
dtype: int64

## Removing unwanted data

In [ ]:
# remove from the dataset users with less than 200 ratings and books with less than 100 ratings.

In [14]:
print("[Shape]")
print("df_ratings: ", df_ratings.shape)
print("df_books: ", df_books.shape)

[Shape]
df_ratings:  (1149780, 3)
df_books:  (271377, 3)

In [13]:
print("[Columns]")
print("df_ratings: ", df_ratings.columns)
print("df_books:", df_books.columns)

[Columns]
df_ratings:  Index(['user', 'isbn', 'rating'], dtype='object')
df_books: Index(['isbn', 'title', 'author'], dtype='object')

In [18]:
df_ratings.user.value_counts()

user
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [17]:
# remove from the dataset users with less than 200 ratings
df_ratings_user = df_ratings.groupby('user').filter(lambda x: len(x) >= 200)
df_ratings_user.count

<bound method DataFrame.count of            user        isbn  rating
1456     277427  002542730X    10.0
1457     277427  0026217457     0.0
1458     277427  003008685X     8.0
1459     277427  0030615321     0.0
1460     277427  0060002050     0.0
...         ...         ...     ...
1147612  275970  3829021860     0.0
1147613  275970  4770019572     0.0
1147614  275970   896086097     0.0
1147615  275970  9626340762     8.0
1147616  275970  9626344990     0.0

[527556 rows x 3 columns]>

In [ ]:
# function to return recommended books - this will be tested
def get_recommends(book = ""):


  return recommended_books

In [ ]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2):
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You haven't passed yet. Keep trying!")

test_book_recommendation()