In [401]:
import pandas as pd

In [402]:
# Read data from file
df = pd.read_csv("adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [403]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = len(df.race.value_counts())
race_count

5

In [404]:
# What is the average age of men?
average_age_men = df[df["sex"] == "Male"]['age'].mean()
average_age_men

39.43354749885268

In [405]:
# What is the percentage of people who have a Bachelor's degree?
num_bachelors = len(df[df["marital-status"] == "Never-married"])
percentage_bachelors = num_bachelors / df.shape[0] * 100
percentage_bachelors

32.809188906974605

In [406]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
has_advanced_education = (df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')

In [407]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = len(df[has_advanced_education]) / df.shape[0] * 100
lower_education = 100 - higher_education

print(higher_education, lower_education)

23.006050182733944 76.99394981726606

In [408]:
# percentage with salary >50K
has_salary_more_than_50K = df.salary == ">50K"

higher_education_rich = len(df[has_advanced_education & has_salary_more_than_50K]) / df.shape[0] * 100
lower_education_rich = len(df[~has_advanced_education & has_salary_more_than_50K]) / df.shape[0] * 100

In [409]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [410]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = len(df[df['hours-per-week'] == min_work_hours])

rich_percentage = len(df[(df['hours-per-week'] == min_work_hours) & has_salary_more_than_50K]) / df.shape[0] * 100
rich_percentage

0.006142317496391388

In [411]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [519]:
# What country has the highest percentage of people that earn >50K?
def filter_func(df):
    has_advanced_education = (df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')
    has_salary_more_than_50K = df.salary == ">50K"
    return df[has_advanced_education & has_salary_more_than_50K]

highest_earning_countries_dict = {}
for (country, group) in df.groupby('native-country'):
    group = filter_func(group)
    highest_earning_countries_dict[country] = len(group)
    # print(country, ":", len(group))
    
print(highest_earning_countries_dict)
# highest_earning_country = None
# highest_earning_country_percentage = None

{'?': 90, 'Cambodia': 2, 'Canada': 16, 'China': 17, 'Columbia': 1, 'Cuba': 8, 'Dominican-Republic': 0, 'Ecuador': 1, 'El-Salvador': 4, 'England': 18, 'France': 7, 'Germany': 18, 'Greece': 3, 'Guatemala': 0, 'Haiti': 2, 'Holand-Netherlands': 0, 'Honduras': 0, 'Hong': 5, 'Hungary': 1, 'India': 23, 'Iran': 14, 'Ireland': 2, 'Italy': 13, 'Jamaica': 2, 'Japan': 15, 'Laos': 0, 'Mexico': 11, 'Nicaragua': 0, 'Outlying-US(Guam-USVI-etc)': 0, 'Peru': 1, 'Philippines': 40, 'Poland': 6, 'Portugal': 1, 'Puerto-Rico': 4, 'Scotland': 1, 'South': 8, 'Taiwan': 16, 'Thailand': 1, 'Trinadad&Tobago': 0, 'United-States': 3131, 'Vietnam': 2, 'Yugoslavia': 2}

In [413]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[(df['native-country'] == 'India') & (has_salary_more_than_50K)]['occupation'].value_counts().index[0]
top_IN_occupation

'Prof-specialty'

In [414]:
print("Number of each race:\n", race_count) 
print("Average age of men:", average_age_men)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print("Top occupations in India:", top_IN_occupation)

Number of each race:
 5
Average age of men: 39.43354749885268
Percentage with Bachelors degrees: 32.809188906974605%
Percentage with higher education that earn >50K: 10.706059396210192%
Percentage without higher education that earn >50K: 13.374896348392248%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 0.006142317496391388%
Country with highest percentage of rich: None
Highest percentage of rich people in country: None%
Top occupations in India: Prof-specialty